.image-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.image-container .hover-image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.image-container:hover .default-image {
  display: none;
}

.image-container:hover .hover-image {
  display: block;
}